body{
    display: flex;
    background-color: burlywood;
}
.whiteBox{
    
    border: 2px solid black;
    background-color: white;
    height: 130px;
    width: 130px;
    margin: 5px;
}
.imgBox{
    background-image: url('./utsav.png');
    border: 2px solid rgb(46, 109, 4);
    height: 125px;
    width: 125px;
}
.hide{
    display: none;
}
.hold{
    border: 2px solid red;
}