//- page-a.pug
extends ./layout.pug
block addbody
    section#introSection        
        h2 Welcome to Utsav Dance Academy
        p Great dancers are not great because of their technique, 
        p they are great because of their passion. 
        p – Martha Graham
    section#programms
        div.card
            div.card_logo
                img(src="/images/1.png")
            div.content
                h4 Dance Classes
                p This is the content of the Dance Classes
        div.card
            div.card_logo
                img(src="/images/2.png")
            div.content
                h4 Dance Classes
                p This is the content of the Dance Classes
        div.card
            div.card_logo
                img(src="/images/3.png")
            div.content
                h4 Dance Classes
                p This is the content of the Dance Classes
    section#sponcerSection
        h2 Our Spouncers
        div.sponsers
            img(src="/images/logo1.png")
            img(src="/images/logo2.png")
            img(src="/images/logo3.png")
            img(src="/images/logo4.png")


