<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
        include style.css
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>#{heading}</h1>
        <p>
            |#{msg}
            | This paragraph is written in html and not passed by pug.
        </p>
        <form action="/" method="POST" id="contect">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Enter your name">
            <label for="age">Age</label>
            <input type="text" name="age" placeholder="Enter your age">
            <label for="gender">Gender</label>
            <input type="text" name="gender" placeholder="Enter gender">
            <label for="Address">Address</label>
            <textarea name="address" id="address" cols="30" rows="10" placeholder="Your Address"></textarea>
            <label for="more">More</label>
            <textarea name="more" id="more" cols="30" rows="10" placeholder="More about You"></textarea>
            <button>Submit</button>
        </form>
    </div>

</body>
</html>